<div class="search-form mt-4">
    <form method="GET" action="/search">
    {{!-- method là phương thức muốn thực hiện, action là nơi thực hiện --}}
        <div class="mb-3">
            <label for="search-input" class="form-label">Search</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keywords...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>